* {
  margin: 0;
  padding: 0;
}

/* ----------------------------BURGER MENU---------------------------------- */

/* bruges kun til hvis der skal bruges to forskellige menuer med mediaquerie */
/* .burger_knap {
  display: none;
  list-style-type: none;
  padding: 5px;
  padding-bottom: 1.5rem;
  padding-top: 1.8rem;
  font-family: "Noto Serif Display", serif;

  font-size: 1rem;
  font-weight: 800;
  color: #483434;
} */

.streg {
  height: 3px;
  width: 100%;
  background-color: black;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
  margin-top: 5px;
}

#menu_streger {
  width: 30px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
  /* align-self: flex-end; Dette er til hvis menuen er i højre side*/
  z-index: 50;
}

.navigation {
  display: flex;
  flex-flow: column;
  width: 200px;
}

.burger_knap {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
  align-self: flex-end;
  z-index: 50;
}

nav {
  display: none;
}

.click {
  display: flex;
  flex-flow: column;
  /* padding-right: 40px; */
}

.menu-bg {
  position: absolute;
  z-index: 30;
  width: 0;
  height: 0;
  /* margin: 30px 0 20px 20px; */
  background: radial-gradient(circle, #e91fe9, #51a0e0);
  border-radius: 50%;
  /* transition: 0.3s ease; Dette er hvis der ikke bliver brugt cubic-bezier */
  transition: 0.5s cubic-bezier(0.17, 0.67, 0.97, 1.42);
}
.click-bg {
  width: 520px;
  height: 600px;
  transform: translate(-45%, -30%);
}

nav ul {
  display: flex;
  flex-flow: column;
  /* align-items: flex-end; Dette er til hvis menu skal være i højre side */
  list-style: none;
  padding: 20px 0 0 45px;
  text-align: center;
  z-index: 40;
}

nav li {
  font-size: 1.5rem;
  padding: 1rem;
}

header {
  position: absolute;
}

main {
  /* display: grid;
  grid-template-columns: 1fr minmax(200px, 900px) 1fr; */
  grid-column: 2/3;
}

.center_content {
  /* grid-column: 2/3; */
  display: grid;
  grid-template-columns: 1fr minmax(200px, 900px) 1fr;
}

h1 {
  text-align: center;
}

/* --------------portfolio------------------------ */

/* button styling */
.btn_port {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  text-align: left;
}

/* Anden farve ved hover-funktion og når den er trykket på (javascript) add btn_pushed class*/
.btn_pushed,
.fold_ud:hover {
  background-color: #ccc;
}

/* Styling af opg. beskrivelse */
.opg_beskrivelse {
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
